<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/ScrollTrigger.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/index.css">
    <script src="../js/index.js" charset="utf-8"></script>
    <title>{{ page.title }} | {{ site.title }}</title>
  </head>
  <body>
    <p class="author" style="display: none">{{ site.author }}</p>
    <p class="color" style="display: none">{{ site.name_color }}</p>
    <header class="body-anim-start">
      <div class="divheader d-flex flex-column min-vh-100 justify-content-center align-items-center">
          <h1 class="text-light big-header"></h1>
          <br>
          <br>
          <br>
          <br>
          <i style="color: white; display: none; font-size: 50px" class="sdc fas fa-chevron-down"></i>
      </div>
    </header>
    <div class="align-items-center pagebody" style="min-height: 50vh">
      <div style="margin-top: 100px" class="d-flex flex-column align-items-center">
        <img src="{{ site.avatar }}" width="150" height="150" class="shadow-lg rounded-circle">
        <br>
        <p class="lead mb-5">{{ site.details }}</p>
        <button type="button" onClick="location.href='projects'" class="btn btn-outline-dark">View my Projects</button>
      </div>
    </div>
    <br>
    <br>
    <footer class="py-2 bg-dark text-center" style="z-index: 100">
        <a href="https://github.com/{{ site.social_links.github }}"><i style="font-size: 50px; color: white" class="fab fa-github"></i></a>
    </footer>
  </body>
</html>
